<h1 align="center">Merchant Demo (HTTP API)</h1>

<p>
This site demonstrates a basic implementation of a merchant site which can
be used to produce
<a href="http://w3c.github.io/webpayments/proposals/core-messages/#paymentrequest">payment request</a>s
and consume
<a href="http://w3c.github.io/webpayments/proposals/core-messages/#paymentresponse">payment response</a>s.
This demo is designed for non-interactive payments use cases. For example,
auto payment of utility bills, business-to-business payments, a car paying
for a parking spot (Internet of Things), etc. For more information, see the
<a href="http://w3c.github.io/webpayments/proposals/web-payments-http-api/">Web Payments HTTP API specification</a>.
</p>

<p>
If you just want to try the Web Payments HTTP API out, the
<a href="http://http-mediator-demo.web-payments.io/">Payment Mediator Demo</a> 
is probably the best place to start.
</p>

<p>
If you are a software developer and want to test your software against a 
Web Payments HTTP API compliant merchant, the following things may be of 
interest to you:
</p>

<ul>
  <li>
Attempt to access a for-pay resource. Try <code>curl {{$root.app.config.data.baseUri}}/movies/dr-strangelove</code>
  </li>
  <li>
Retrieve the payment request for that resource. Try <code>curl {{$root.app.config.data.baseUri}}/movies/dr-strangelove/requests</code>
  </li>
  <li>
<a href="http://payment-app-demo.web-payments.io/">Process the payment request</a>
via a payment app, which should result in a payment response.
  </li>
  <li>
Do an HTTP POST of a payment response to <code>{{$root.app.config.data.baseUri}}/movies/dr-strangelove/payments</code>.
  </li>
</ul>

<p>
The source for this demonstration can be found on Github under the
<a href="https://github.com/digitalbazaar/merchant-demo.web-payments.io">digitalbazaar/merchant-demo.web-payments.io</a>
project.
</p>
